# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.next
.api
docs/*
documentation/*
logs/*
plan/*
dist-ssr
*.local
.env
log

# Editor directories and files
.vscode/* 
.claude/* 
e-invoicing-middleware/src/scripts
!.vscode/extensions.json
IMPLEMENTATION_PLAN.md
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
